/* resets */
body,
h1,
h2,
h3 {
  margin: 0;
}

body {
  font-family: "Open Sans";
  background-color: #f9fafc;
}

header {
  font-size: 20px;
  margin-left: 5px;
}

.inc {
  color: #000;
  font-weight: bold;
}

header nav ul {
  list-style: none;
}
header nav ul a {
  text-decoration: none;
  color: #69696a;
}

header nav p {
  background-color: #000;
  width: 95%;
  border-radius: 10px;
  text-align: center;
  padding: 5px 0px;
  margin-left: 15px;
}
header nav p a {
  color: #fff;
  text-decoration: none;
}

main h2 {
  margin-left: 15px;
  font-size: 30px;
  font-weight: bold;
}
.text {
  margin: 5px;
  padding: 5px;
  border-left: 2px solid #69696a;
}

div p {
  background-color: #000;
  width: 95%;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  padding: 5px 0px;
  margin: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(247, 193, 162, 0.7);
}

footer h2 {
  font-size: 15px;
  margin-left: 15px;
}

footer ul {
  list-style: none;
  display: flex;
  padding: 5px;
  margin: 5px;
}

footer ul li a {
  margin: 10px;
  color: #000;
  text-decoration: none;
}
